body {
  margin: 0;
  font-family: 'Roboto', system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper {
  background: #F3F3F3;
  border-radius: 20px;
  margin: 50px;
}

.content {
  padding: 80px;
}

header {
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-bottom: 1px solid #eaeaea;
}

.header-title {
  display: flex;
  align-items: center;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  font-size: 40px;
}

.header-menu {
  padding: 10px;
  margin-top: 20px;
  font-size: 25px;
}